@font-face {
    font-family: "Calistoga";
    src: url("src/templates/assets/font/Calistoga-Regular.ttf");
}

@font-face {
    font-family: "Dosis";
    src: url("src/templates/assets/font/Dosis-Regular.ttf");
}

body {
    margin: 0;
}

.nav a {
    justify-content: right;
    margin-right: 60px;
    display: inline-block;
    position: relative;
    color: #5E43FF;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5E43FF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav {
    display: flex;
    justify-content: right;
}

.nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav a{
    text-decoration: none;
    font-family: "Calistoga";
    color: #5E43FF;
    padding-top: 20px;
}

.container-infos {
    padding: 20px;
    margin-left: 70px;
}

.btn-ajout-seance {
    display: flex;
    justify-content: center;
    box-shadow: 0px 7px 21px 1px #c8c7c7ab;
    width: 5%;
    width: 11%;
    padding: 105px 20px 105px 20px;
    border-radius: 15px;
    margin: 0 auto; 
    position: relative;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
    transform: scale(1);
}

.btn-ajout-seance:hover {
    transform: scale(1.1);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}

.btn-ajout-seance a{
    text-decoration: none;
    font-family: "Dosis";
    color: #5E43FF;
    font-weight: 700;
}

.btn-ajout-seance svg {
    width: 20%;
    position: absolute;
    color: #5E43FF;
    bottom: 0;
    right: 6px;
}

h1 {
    font-family: "Calistoga";
    color: #5E43FF;
    margin: 0;
    font-size: 35px;
}

h2 {
    margin :0;
}

h2,
h3 {
    font-family: "Dosis";
    color: #5E43FF;
}

.section-human {
    background-color: #5E43FF;
    display: flex;
    padding: 60px;
    padding-bottom: 0;
    margin-top: 80px;
    justify-content: center;
    border-radius: 40px 40px 0px 0px;
}

.section-human-txt {
    width: 35%;
}

.section-human-txt p{
    font-family: "Dosis";
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.section-human-txt svg {
    width: 10%;
    color: white;
}

.section-human-img img{
    width: 45%;
    color: white;
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
    transform: scale(1);
}

.section-human-img img:hover {
    transform: scale(1.1);
    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
}