* {
    margin: 0;
}

@font-face {
    font-family: "Dosis";
    src: url("src/templates/assets/font/Dosis-Regular.ttf");
}

@font-face {
    font-family: "Calistoga";
    src: url("src/templates/assets/font/Calistoga-Regular.ttf");
}

.page_container {
    background-color: #5E43FF;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 69px;
    border-radius: 50px 50px 0px 0px;
    flex-direction: column;
}

.page_container .body-face .body-part-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -92px;
}

.page_container .body-face .body-part-img img {
    width: 20%;
}

.page_container p {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Dosis";
    position: relative;
    top: -94px;
    height: 105vh;
}

.page_container .pectoraux {
    position: relative;
    z-index: 2;
    width: 37px;
    height: 46px;
    background-color: black;
    cursor: pointer;
    justify-content: center;
    left: 50.5%;
    top: 241px;
    border-radius: 10px;
}

.page_container .abdominaux {
    position: relative;
    z-index: 2;
    width: 79px;
    height: 107px;
    background-color: black;
    cursor: pointer;
    justify-content: center;
    left: 47.8%;
    top: 259px;
    border-radius: 30px;
}

.page_container .epaule {
    position: relative;
    z-index: 2;
    width: 43px;
    height: 47px;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    left: 51.8%;
    top: 86px;
    border-radius: 30px;
}

.page_container .click-pectoraux {
    /* display: none; */
    background-color: #FFCB9B;
    height: 40%;
    width: 100%;
    border-radius: 0px 0px 50px 50px;
    position: absolute;
    z-index: 9;
    color: #5E43FF;
    top: 0px;
}

.page_container .container h3 {
    font-family: "Calistoga";
    margin: 30px;
}

.page_container .container #description {
    top:60%;
    color: #5E43FF;
} 

.page_container .container #exercice {
    top: 0;
    position: absolute;
    color: #5E43FF;
}