@font-face {
    font-family: "Calistoga";
    src: url("src/templates/assets/font/Calistoga-Regular.ttf");
  }

@font-face {
    font-family: "Dosis";
    src: url("src/templates/assets/font/Dosis-Regular.ttf");
}

    body {
        background-color: #FFCB9B;
    }
    
    h1 {
        font-family: 'Calistoga';
        color: #311CAF;
        text-align: center;
    }
    
    form {
        flex-direction: column;
        display: flex;
        width: 40%;
        margin: 0 auto;
    }

    label {
        display: none;
    }

    input {
        border-radius: 30px;
        border: none;
        padding: 11px;
        width: 97%;
    }

    #form_age {
        background-color: white;
        border-radius: 30px;
        border: none;
        padding: 11px;
        width: 97%;
    }

    button {
        background-color: #5E43FF;
        border: none;
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        font-family: 'Calistoga';
        justify-content: right;
        flex-direction: row;
        display: flex;
        margin-top: 14px;
    }
    
    .conditions {
        font-family: "Dosis";
        font-size: 15px;
        color: rgb(55, 55, 55);
    }

    .conditions a {
        color: black;
        text-decoration: none;
    }
