@font-face {
    font-family: "Calistoga";
    src: url("src/templates/assets/font/Calistoga-Regular.ttf");
}

@font-face {
    font-family: "Dosis";
    src: url("src/templates/assets/font/Dosis-Regular.ttf");
}

body {
    background-color: #5E43FF;
    margin:0;
}

.page .back-btn {
    cursor: pointer;
    margin-left: 60px;
    margin-top: 25px;
}

.page_container {
    background-color: white;
    position: absolute;
    width: 100%;
    top: 69px;
    height: 100%;
    border-radius: 50px 50px 0px 0px;
}

.page_container .form-session {
    text-align: center;
    margin-top: 5%;
}

.form-session p {
    font-family: "Dosis";
    color: #5E43FF;
}

label {
    display: none;
}

input {
    padding: 9px 10px;
    border-color: #5E43FF;
    border-radius: 64px;
    width: 35%;
    margin-bottom: 20px;
    font-family: "Dosis";
    color: #898989;
}

#session {
    color: #5E43FF;
    font-family: "Dosis";
    font-size: 15px;
    border: none;
    margin-bottom: 20px;
}
