
@use "../abstracts" as *;

// Responsive
$laptop: 1520px;
$tablet: 768px;
$mobile: 400px;

// Colors
$purple: #5E43FF;
$orange: #FFCB9B;

.body-accueil {    
    margin: 0;
    background-color: white;

    .page-container {
        .nav {
            display: flex;
            justify-content: right;

            @media screen and (max-width: $mobile) {
                display: none;
            }

            a {
                justify-content: right;
                margin-right: 60px;
                display: inline-block;
                position: relative;
                color: $purple;
                text-decoration: none;
                font-family: "Calistoga";
                padding-top: 20px;
              
                &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  transform: scaleX(0);
                  height: 2px;
                  bottom: 0;
                  left: 0;
                  background-color: $purple;
                  transform-origin: bottom right;
                  transition: transform 0.25s ease-out;
                }
              
                &:hover::after {
                  transform: scaleX(1);
                  transform-origin: bottom left;
                }
            }              
        }

        .menu-icon {
            display: none; 

            @media screen and (max-width: $mobile) {
                display: flex;
                flex-direction: column;
                text-align: right;
                margin-top: 6%;
                position: relative;
                left: 85%;
                
                .bar {
                    background-color: #5e43ff;
                    border-radius: 10px;
                    height: 4px;
                    width: 8%;
                    margin-bottom: 4px;
                }
            }
        }

        .home_page {
            .container-infos {
                padding: 20px;
                margin-left: 70px;

                @media screen and (min-width: 400px) {
                    margin-left: 20px;
                }

                h1 {
                    font-family: "Calistoga";
                    color: $purple;
                    margin: 0;
                    font-size: 35px;
                    text-align: left;

                    @media screen and (max-width: $mobile) {
                        font-size: 27px;
                    }
                }

                h2 {
                    margin :0;
                    font-family: "Dosis";
                    color: $purple;

                    @media screen and (max-width: $mobile) {
                        font-size: 20px;
                    }
                }
                
                h3 {
                    font-family: "Calistoga";
                    color: $orange;
                    font-size: 30px;
                    margin-top: 40px;

                    @media screen and (max-width: $mobile) {
                        font-size: 18px;
                    }
                }
            }    
            
            .btn-ajout-seance {
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 0px 7px 21px 1px #c8c7c7ab;
                width: 11%;
                padding: 70px 20px 70px 20px;
                border-radius: 15px;
                margin: 0 auto; 
                position: relative;
                cursor: pointer;
                transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
                transform: scale(1);

                @media screen and (max-width: $mobile ) {
                    padding: 40px 20px;
                    width: 30%;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
                }
                
                #btn-ajout {
                    width: 30%;
                    margin-top: 20px;
                }

                a{
                    text-decoration: none;
                    font-family: "Dosis";
                    color: $purple;
                    font-weight: 700;
                    text-align: center;
                }
            }

            .section-human {
                background: #5e43ff;
                display: flex;
                padding-top: 60px;
                margin-top: 80px;
                justify-content: space-between;
                border-radius: 40px 40px 0px 0px;
                padding-left: 10%;
                padding-right: 10%;

                @media screen and (max-width:$mobile) {
                    margin-top: 30px;
                    flex-direction:column;
                    padding-top: 5%;
                }

                .section-human-txt {
                    width: 100%;

                    p{
                        font-family: "Dosis";
                        color: white;
                        display: flex;
                        flex-direction: column;
                        font-size: 30px;

                        @media screen and (max-width: $mobile) {
                            font-size: 20px;
                        }
                    }

                    svg {
                        width: 10%;
                        color: white;
                    }
                }

                .section-human-femme, .section-human-homme {
                    background: rgba(255, 255, 255, 0.23);
                    border-radius: 16px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(5px);
                    -webkit-backdrop-filter: blur(5px);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    width: 45%;
                    height: 60vh;
                    margin-bottom: 4%;
                    border-radius: 30px;
                    transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
                    transform: scale(1);
                    box-shadow: 0px 5px 5px #8c82c31a;
                    cursor: pointer;

                    @media screen and (max-width: $mobile) {
                        width: 80%;
                        margin-left: 10%;
                        height: 46vh;

                    }
                
                    &:hover {
                        transform: scale(1.1);
                        transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);
                    }
                
                    img {
                        color: white;
                        margin: 0;
                        left: 62px;
                        right: 0;
                        position: relative;
                        top: 4%;
                        
                        @media screen and (max-width: $mobile) {
                            width: 40%;
                            left: 69px;
                            margin-bottom: 10px;
                        }
                    }
                
                    h4 {
                        margin: 0;
                        text-align: center;
                        margin-top: 6%;
                        font-family: "Dosis";
                        color: white;
                    }
                }
                
                .section-human-homme {
                    img {
                        width: 62%;

                        @media screen and (max-width: $mobile) {
                            width: 46%;
                        }
                    }
                }
                
                .section-human-femme {
                    margin-right: 2%;

                    @media screen and (max-width: $mobile) {
                        margin-bottom: 10px;
                    }
                    img {
                        width: 58%;

                        @media screen and (max-width: $mobile) {
                            width: 45%;
                        }
                    }
                }
            }
        }
    }
}

// .session-user {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     box-shadow: 0px 7px 21px 1px #c8c7c7ab;
//     width: 11%;
//     padding: 70px 20px 70px 20px;
//     border-radius: 15px;
//     margin: 0 auto; 
//     position: relative;
//     cursor: pointer;
//     transition: 0.5s cubic-bezier(0.6, 0.03, 0.28, 0.98);  
//     transform: scale(1);
// }

