<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet"/>
    <script src="{{ asset('main.js')}}"></script>
    {# <link href="{{ asset('style.css') }}" rel="stylesheet"/> #}
    </head>
    <body>

        <div class="page-container">
            <div class="nav">
                <a href="accueil">Accueil</a>
                <a href="">Séances</a>
                <a href="">Comptes</a>
                <a href="">Mentions légales</a>
                <a href="">CGU</a>
            </div>

            <div class="home_page">
                <section>
                    <div class="container-infos">
                        <h1>Bonjour X</h1>
                        <h2>{{ date }}</h2>
                        <h3>Vos séances</h3>
                    </div>
                    <div class="btn-ajout-seance">
                        <a href="session">Ajoutez une séance</a>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" /
                        </svg>
                    </div>
                </section>

                <div class="section-human">
                    <div class="section-human-txt">
                        <p>Quelle partie de votre corps avez vous envie de travailler ?</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" /</svg>
                    </div>
                    <div class="section-human-img">
                        <a href="bodyPart"><img src="img/corps-hum-face.png"></a>
                    </div>
                </div>

            </div> 
        </div>
    </body>
</html>