<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commencer ou s'inscrire</title>
    <link href="{{ asset('css/profiltype.css') }}" rel="stylesheet"/>

    </head>
    <body>
        {% block body %}
        <h1>Votre profil<h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <div class="conditions">
            <input type="checkbox">
                <p>J'ai lu et j'accepte les <a href="">conditions générales.</a></p>
            </input>
        </div>
        {% endblock %}   
    </body>
</html>
