<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programm</title>
    <link href="{{ asset('css/programm.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <div class="content">
            <div class="logo-programm">
                <img src="assets/img/Programm-logo.png" alt="">
            </div>
            <div class="btn-registration">
                <a href="registration">S'inscrire</a>
            </div>
            <div class="btn-connexion">
                <a href="registration">Se connecter</a>
            </div>
        </div>
    </body>
</html>