@font-face {
    font-family: "Calistoga";
    src: url("src/templates/assets/font/Calistoga-Regular.ttf") format("ttf"),
    url("src/templates/assets/font/Calistoga-Regular.ttf") format("ttf");
  }

  @font-face {
    font-family: "Dosis";
    src: url("src/templates/assets/font/Dosis-Regular.ttf") format("ttf"),
    url("src/templates/assets/font/Dosis-Regular.ttf") format("ttf");
  }